<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 mb-4">
    <h2 class="text-center">Multiple form types and validations</h2>

    <h3>Form validation on submit</h3>
    <app-validate-fields-submit-form></app-validate-fields-submit-form>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6 mb-4">
      <app-simple-form></app-simple-form>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-6 mb-4">
    <app-complex-form></app-complex-form>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-6">
    <app-form-validation></app-form-validation>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-6">
    <app-login-form></app-login-form>
  </div>
</div>