<h1 class="text-secondary text-center">NG Website</h1>
<p class="lead text-center">Angular demo samples and more...</p>

<div class="row">
  <div class="col-md-4">
    <h3>Angular Working Samples</h3>
    <ul>
      <li>Component Interactions</li>
      <li>Form Validation</li>
      <li>Unique IDs in a modal window (using Ngx Bootstrap modal component)</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3>RxJs Examples</h3>
    <ul>
      <li>Students Programs (samople 1)</li>
      <li>Students Programs (samople 2)</li>
      <li>TODO app (sampple 1)</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3>API and Media</h3>
    <ul>
      <li>API aggregator</li>
      <li>Search an image on Flickr</li>
      <li>Get Videos from a YouTube channel</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3>SEO Tools</h3>
    <ul>
      <li>Title meta tag validator</li>
      <li>Description meta tag validator</li>
      <li>Keywords Extractor</li>
      <li>SEO checklist</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3>Coding Challenges</h3>
    <ul>
      <li>Two Sums</li>
      <li>Development teams</li>
    </ul>
  </div>
</div>

<hr>

<h2 class="text-center">API and Media Aggregator</h2>
<p class="lead text-center">Full examples of API interactions with Angular</p>

<h3 class="text-center text-secondary"><i class="fa fa-database"></i> Create an API</h3>

<p class="lead text-center">Technologies and frameworks you can use to create an API for your backend.</p>

<div class="row">
  <div class="col-3">
    <h4>Java</h4>
    <ul>
      <li><a href="https://spring.io/projects/spring-boot" target="_blank" title="">Spring Boot</a></li>
      <li><a href="https://jersey.github.io/" target="_blank" title="">Jersey</a></li>
      <li><a href="http://www.jboss.org/resteasy" target="_blank" title="">RESTeasy</a></li>
      <li><a href="http://www.restlet.org/" target="_blank" title="">RESTlet</a></li>
    </ul>
  </div>
  <div class="col-3">
    <h4>Python</h4>
    <ul>
      <li><a href="https://falconframework.org/" target="_blank" title="">Falcon</a></li>
      <li><a href="https://bottlepy.org/docs/dev/" target="_blank" title="">Bottle</a></li>
      <li><a href="http://flask.pocoo.org/" target="_blank" title="">Flask</a></li>
      <li><a href="https://www.django-rest-framework.org/" target="_blank" title="">Django REST framework</a></li>
    </ul>
  </div>
  <div class="col-3">
    <h4>PHP</h4>
    <ul>
      <li><a href="https://laravel.com/" target="_blank" title="">Laravel</a></li>
      <li><a href="https://lumen.laravel.com/" target="_blank" title="">Lumen</a></li>
      <li><a href="http://symfony.com/" target="_blank" title="">Symfony</a></li>
      <li><a href="http://silex.sensiolabs.org/" target="_blank" title="">Silex</a></li>
      <li><a href="https://www.yiiframework.com/" target="_blank" title="">Yii 2</a></li>
    </ul>
  </div>
  <div class="col-3">
    <h4>NodeJS</h4>
    <ul>
      <li><a href="" target="_blank" title="">Nest</a></li>
      <li><a href="" target="_blank" title="">ExpressJS</a></li>
    </ul>
  </div>
  <div class="col-6 mt-4">
    <h3 class="text-secondary"><i class="fa fa-lock"></i> Authentication</h3>
    <ul>
      <li><a href="https://jwt.io/" target="_blank" title="">JWT</a></li>
      <li><a href="https://oauth.net/2/" target="_blank" title="">OAuth 2</a></li>
      <li><a href="https://auth0.com/" target="_blank" title="">Auth0</a></li>
      <li>API keys</li>
    </ul>
  </div>
  <div class="col-6 mt-4">
    <h3 class="text-secondary"><i class="fa fa-key"></i> Testing</h3>
    <ul>
      <li><a href="https://www.soapui.org/" target="_blank" title="">Soap UI</a></li>
      <li><a href="https://www.katalon.com/" target="_blank" title="">Katalon Studio</a></li>
      <li><a href="https://www.getpostman.com/" target="_blank" title="">Postman</a></li>
      <li><a href="" target="_blank" title="">Apigee</a></li>
      <li><a href="http://rest-assured.io/" target="_blank" title="">REST Assured</a></li>
      <li><a href="" target="_blank" title="">JMeter</a></li>
    </ul>
  </div>
  <div class="col-6 mt-4">
    <h3 class="text-center text-secondary"><i class="fa fa-newspaper-o"></i> Documentation</h3>
    <ul>
      <li><a href="https://app.datafire.io/" target="_blank" title="">DataFire</a></li>
      <li><a href="" target="_blank" title="">Swagger</a></li>
    </ul>
  </div>
  <div class="col-6 mt-4">
    <h3 class="text-center text-secondary"><i class="fa fa-newspaper-o"></i> Code Documentation</h3>
    <ul>
      <li><a href="https://www.baeldung.com/javadoc" target="_blank" title="">JavaDoc</a></li>
      <li><a href="https://www.phpdoc.org/" target="_blank" title="">PHPDoc</a></li>
      <li><a href="http://usejsdoc.org/" target="_blank" title="">JSDoc</a></li>
      <li><a href="https://github.com/compodoc/compodoc" target="_blank" title="">Compodoc</a></li>
    </ul>
  </div>
</div>
