<h2>Title Tag Validator</h2>

<p>Type or paste your web page title. It must have at least 60 characters to be validated.</p>

<form class="form-inline" [formGroup]="frmGroup" (ngSubmit)="submitForm(frmGroup.value.title)">
  <div class="form-group row" [ngClass]="{'has-error':!frmGroup.controls['title'].valid && frmGroup.controls['title'].touched}">
    <div class="col-12">
        <input [autofocus]="true" (input)="onChangeTitle()" class="form-control" type="text" placeholder="Your page title..." size="70" [formControl]="frmGroup.controls['title']">
        <button type="submit" class="btn btn-primary ml-2" [disabled]="!frmGroup.valid">Validate</button>
        <button type="reset" class="btn btn-danger ml-2" (click)="onResetForm()">Reset</button>
        <div *ngIf="frmGroup.controls['title'].hasError('required') && frmGroup.controls['title'].touched" class="alert alert-danger">Type the title of your page.</div>
        <div *ngIf="frmGroup.controls['title'].hasError('minlength') && frmGroup.controls['title'].touched" class="alert alert-danger">The title must contain at least 60 character.</div>
    </div>

  </div>
</form>

<div class="alert alert-warning" *ngIf="hasStopWords">
  <h3>Stop word detected!</h3>
  <p><strong>{{ stopWorsList }}</strong></p>

  <p>What are stop words?</p>
  <p>Stop words will not be useful to index the title of your page.</p>
</div>

<div class="alert alert-warning" *ngIf="hasSeparators">
  <h3>Separator detected</h3>
  <p>Use pipes and hyphens wisely. This characters tells the search engines to separate the words \ sections of your title.</p>
</div>

<div class="alert alert-success" *ngIf="!hasStopWords && !hasSeparators && frmGroup.valid && isSubmitted">
  <h3>Greetings!</h3>
  <p>Your title tag does not contain stop words or separators.</p>

  <h4>Further hints</h4>
  <ul>
    <li>Remeber to speak about the topic of the title in your page</li>
    <li>Set the h1 tag equals to your page title</li>
    <li>Use some keywords of your title in your keywords meta tag content</li>
    <li>Google displays the first 60\70 characters of your title</li>
  </ul>
</div>
