<h2 class="text-center">Two Sums</h2>

<h3>Problem:</h3>
<div>
  Given an array of numbers with no duplicates and a single target number, find
  two numbers.
  <ul>
    <li>The sum of these two numbers must be equals to the target number.</li>
    <li>Starting with the first number of the array, the index of the second number
  must not be less than the current index. You can traverse the array only one
  time.</li>
  </ul>
</div>

<h3>Representation:</h3>
<form action="" method="POST">
  <div class="row">
    <div class="col-sm-2">
      <button (click)="initialize()" data-cy="reload" class="btn btn-sm btn-primary">
        Reload Array
      </button>
    </div>
    <div class="col-sm-8 col-md-8">
      <p>
        <strong>Current Target:</strong> {{ targetNum }}.
        <strong>Current total array elements:</strong> {{ arrayElmentsTotal }}
      </p>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-2">
    <div class="arrayElementsContainer">
      <div
        *ngFor="let elem of arrayElements"
        class="arrayElement"
        [ngClass]="{ arrayElementActive: checkActiveArrayElement(elem) }"
      >
        {{ elem }}
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 text-center">
    <h3>Solutions</h3>
    <div *ngIf="solutions.length > 0">
      <p *ngFor="let arrNum of solutions">{{ arrNum }}</p>

      <h4>Solutions Array Keys</h4>
      <div *ngFor="let arr of solutions">
        <span *ngFor="let elem of arr">
          {{ arrayElements.indexOf(elem) }}
        </span>
      </div>
    </div>

    <div *ngIf="solutions.length == 0">
      <div class="alert alert-warning">No solution was found :(</div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
    <h3>Options</h3>

    <form [formGroup]="optionsForm" (ngSubmit)="submitForm(optionsForm.value)">
      <!-- Target number -->
      <div
        class="form-group"
        [ngClass]="{
          'has-error':
            !optionsForm.controls['targeNumber'].valid &&
            optionsForm.controls['targeNumber'].touched
        }"
      >
        <label for="targeNumber">Target</label>
        <input
          type="number"
          maxlength="2"
          max="99"
          class="form-control"
          [formControl]="optionsForm.controls['targeNumber']"
          id="targeNumber"
          data-cy="targeNumber"
          title="Insert the target number"
          required="required"
          #trgt
          ngModel
        />
        <div
          *ngIf="
            optionsForm.controls['targeNumber'].hasError('required') &&
            optionsForm.controls['targeNumber'].touched
          "
          class="alert alert-danger"
        >
          Enter the target number.
        </div>
      </div>

      <!-- Number of elements -->
      <div
        class="form-group"
        [ngClass]="{
          'has-error':
            !optionsForm.controls['numelements'].valid &&
            optionsForm.controls['numelements'].touched
        }"
      >
        <label for="numelements">Number of elements</label>
        <input
          type="number"
          maxlength="2"
          max="99"
          id="numelements"
          data-cy="numelements"
          [formControl]="optionsForm.controls['numelements']"
          class="form-control"
          title="Insert the number of elements"
          ng-model="arrntot.value"
          required="required"
          #arrntot
          ngModel
        />
        <div
          *ngIf="
            optionsForm.controls['numelements'].hasError('required') &&
            optionsForm.controls['numelements'].touched
          "
          class="alert alert-danger"
        >
          Enter the number of elements.
        </div>
      </div>

      <!-- Submit -->
      <button
        type="submit"
        id="submit"
        data-cy="submit"
        [disabled]="!optionsForm.valid"
        class="btn btn-primary"
      >
        Update
      </button>
    </form>
  </div>
</div>
