<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>Common problems and tasks</h3>
      <p>These topics cover most of the common life cycle of a frontend application and part of its backend. Let's have a complete showcase:</p>
      <ul>
        <li>Design a custom layout or use a <strong>CSS framework</strong>?</li>
        <li>Building an admin area</li>
        <li>Component interactions</li>
        <li>REST Calls</li>
        <li>State Management</li>
        <li>Authentication</li>
        <li>ACL</li>
        <li>Error handling</li>
        <li>Logging (client & server side)</li>
        <li>SEO</li>
        <li>Performance: lazy loading, code splitting, module packaging</li>
        <li>Security</li>
        <li>HTTP status management</li>
        <li>Scaling: building the architecture for large applications</li>
        <li>Testing: unit testing, e2e testing</li>
        <li>Code documentation (Compodoc)</li>
        <li>Version control</li>
        <li>Continuous integration</li>
      </ul>
  </div>

<!--
  <div class="col-sm-12 col-md-12 col-lg-4">
      <h3>User Interfaces</h3>
      <ul>
        <li>Typography</li>
        <li>Navigation bar</li>
        <li>Modal</li>
        <li>Pagination</li>
        <li>Tabs</li>
        <li>Timeline</li>
      </ul>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
      <h3>Angular Features</h3>
      <ul>
        <li>Two ways data binding</li>
        <li>Component interactions</li>
        <li>Services</li>
        <li>Directives</li>
        <li>Pipes</li>
      </ul>
  </div>
-->

<!--
  <div class="col-sm-12 col-md-12 col-lg-4">
      <h3>Projects</h3>
      <ul>
          <li><a href="https://nx.dev/" title="Angular Nx Enterprise workspace generator">Angular Nx</a></li>
      </ul>
  </div>
-->

  <div class="col-sm-12 col-md-12 col-lg-4">
      <h3>Advanced Topics</h3>
      <ul>
        <li>Hybrid web apps
          <ul>
            <li><a href="https://www.nativescript.org/" target="_blank" rel="noopener noreferrer" title="Nativescript open source framework for building truly native mobile apps">Nativescript</a></li>
            <li>Ionic</li>
            <li>Electron</li>
          </ul>
        </li>
        <li>Server side rendering</li>
        <li>Progressive Web Apps
          <ul>
            <li>Manifest.json</li>
            <li>Service Workers</li>
            <li>Web notifications</li>
          </ul>
        </li>
        <li>Blockchain
          <ul>
            <li>Cryptocurrencies</li>
            <li>Truffle</li>
            <li>DApps (decentralized applications)</li>
          </ul>
        </li>
        <li>Web sockets, real time web apps</li>
        <li>WebGL and Web VR</li>
      </ul>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-4">
      <h3>Authentication</h3>
      <ul>
        <li>AuthGuard</li>
        <li>JWT.io</li>
        <li>OAuth 2</li>
        <li>Auth0</li>
      </ul>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-4">
    <h3>REST Calls</h3>
    <ul>
      <li><a href="https://angular.io/guide/http" target="_blank" rel="noopener noreferrer" title="Angular Http Client">Angular Http Client</a></li>
      <li><a href="http://reactivex.io/rxjs/" target="_blank" rel="noopener noreferrer" title="RxJs project">RxJs</a></li>
      <li>Axios</li>
    </ul>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-4">
    <h3>CSS Frameworks</h3>
    <ul>
      <li>Bootstrap
        <ul>
          <li>Ng Bootstrap</li>
        </ul>
      </li>
      <li>Material Design</li>
      <li>Zurb Foundation
        <ul>
          <li><a href="http://circlingthesun.github.io/angular-foundation/" target="_blank" rel="noopener noreferrer" title=""></a>Angular Foundation</li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-4">
    <h3>Angular CLI</h3>
    <ul>
        <li><a href="https://cli.angular.io" target="_blank" rel="noopener noreferrer">Website</a></li>
        <li><a href="https://github.com/angular/angular-cli/wiki/" target="_blank" rel="noopener noreferrer">Wiki</a></li>
    </ul>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-4">
    <h3>Testing</h3>
    <ul>
      <li>Unit testing
        <ul>
          <li><a href="https://jestjs.io/" target="_blank" rel="noopener noreferrer" title="">Jest</a></li>
          <li><a href="https://karma-runner.github.io/latest/index.html" target="_blank" rel="noopener noreferrer" title="">Karma</a></li>
        </ul>
      </li>
      <li>BDD
        <ul>
          <li>Cypress.io</li>
          <li><a href="https://www.protractortest.org/" target="_blank" rel="noopener noreferrer" title=""></a>Protractor</li>    
        </ul>
      </li>
    </ul>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-4">
    <h3>Performances</h3>
    <ul>
      <li><a href="https://github.com/axemclion/browser-perf" target="_blank" rel="noopener noreferrer" title="">Browser Perf</a></li>
      <li>Lazy loading</li>
      <li>Code splitting</li>
    </ul>
  </div>

<!--
  <div class="col-sm-12 col-md-12 col-lg-4">
    <h3>Learning</h3>
    <ul>
      <li><a href="https://angular-university.io/" title="">Angular University</a></li>
      <li>Udemy</li>
      <li><a href="https://angularcasts.io/" target="_blank" rel="noopener noreferrer" title=""></a>Angular Casts</li>
    </ul>
  </div>
-->

  <div class="col-sm-12 col-md-12 col-lg-4">
    <h3>State Management</h3>
    <ul>
      <li><a href="https://ngrx.io/" target="_blank" rel="noopener noreferrer" title="NGRX: Reactive State for Angular">NGRX</a></li>
      <li><a href="https://netbasal.gitbook.io/akita/" target="_blank" rel="noopener noreferrer" title="">Akita</a></li>
      <li><a href="https://github.com/ngxs/store" target="_blank" rel="noopener noreferrer" title="NGXS state management pattern + library for Angular">NGXS</a></li>
    </ul>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-4">
    <h3>Best Practices</h3>
    <ul>
      <li><a href="https://angular.io/styleguide" target="_blank" rel="noopener noreferrer">Style Guide</a></li>
      <li><a href="https://angular.io/guide/cheatsheet" target="_blank" rel="noopener noreferrer">Cheatsheet 1</a></li>
      <li><a href="https://angular.io/cheatsheet" target="_blank" rel="noopener noreferrer">Cheatsheet 2</a></li>
      <li><a href="https://angular.io/resources/#!#Education" target="_blank" rel="noopener noreferrer">Education</a></li>
      <li><a href="https://www.w3schools.com/angular/default.asp" target="_blank" rel="noopener noreferrer">W3 Schools tutorials</a></li>
    </ul>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-4">
    <h3>Jobs</h3>
    <ul>
      <li><a href="https://angularjobs.com/" target="_blank" rel="noopener noreferrer" title="">Angular Jobs</a></li>
    </ul>
  </div>

</div>
