<app-navbar></app-navbar>

<div class="container">
  <app-breadcrumb [useBootstrap]="true" prefix="Home"></app-breadcrumb>
  <main role="main" class="flex-shrink-0">
    <router-outlet #o="outlet"></router-outlet>
  </main>
</div>

<!--
<footer>
  <div id="footer">
    <div class="container">
      <p class="footer-block">&copy; Copyright {{ currentYear }} <a href="https://www.andreafiori.net" target="_blank" title="Go to the webmaster's website [open page in another window]">Andrea Fiori</a></p>
    </div>
  </div>
</footer>
-->