<p class="lead">Hints, tools and a list of TODO for your web application. Be sure to complete almost all steps</p>

<h3>Domain</h3>
<ul>
  <li>Redirect your users to your domain with http://www. instead of http://mydomain.com</li>
  <li>Use https if possible</li>
  <li>Check if your <a href="https://mxtoolbox.com/blacklists.aspx">domain is on a blacklist</a></li>
</ul>

<h3>Assets Optimization</h3>
<ul>
  <li><strong>Minify HTML output</strong>: I don't understand why many websites don't do this but this is a very useful and essential feature to implement.</li>
  <li><strong>Minify CSS</strong>: compress \ minify CSS files. Compress all CSS files in only one file.</li>
  <li><strong>Minify Javascript</strong> files. Include all files and create only one file.</li>
  <li><strong>Validate HTML</strong>: valid HTML helps accessibility.</li>
  <li>Validate CSS if possible</li>
  <li>Delete unused CSS parts, classes or files</li>
  <li><strong>Optimize images</strong>: use optimizers for your operative system, use svg or base64_encode for images.</li>
	<li>Set a resposive size for your images</li>
</ul>

<h3>Improving HTML</h3>
<ul>
  <li>Use a responsive layout. A website must be viewed correctly with multiple devices.</li>
  <li>Use <strong>microdata</strong> to help search engines to find your pages</li>
  <li>Use <strong><a href="https://www.ampproject.org/">AMP HTML</a></strong> to enhance speed and performaces</li>
  <li>Use <strong>structured data</strong> and the <a href="https://search.google.com/structured-data/testing-tool/u/0/" target="_blank" rel="noopener noreferrer" title="Structured Data Testing Tool [open page in another window]">Structured Data Testing Tool</a></li>
  <li>Turn your website in a <strong>Progressive Web Application</strong></li>
  <li>Be sure to have a sitemap for the users</li>
  <li>Write or generate a privacy policy page. It will be useful for your facebook app, footer and other stuff.</li>
  <li>Use the <strong>alt attribute</strong> for every image</li>
  <li>Add <strong>accesskeys</strong> for the main sections links</li>
  <li>Add the <strong>title attribute</strong> for every link</li>
  <li>Use semantic HTML</li>
  <li>Use a correct doctype</li>
  <li>Backlinks check</li>
</ul>

<h3>Meta tags</h3>
<ul>
  <li><strong>Title tags</strong> with no stop words and a medium legnth (maxi 160\170 characters)</li>
  <li>Write description tags (from 250 \ max 300 characters).</li>
  <li>Do not use <strong>noindex</strong> attribute</li>
  <li>You can create a <strong>favicon</strong></li>
  <li>Use the canonical link markup</li>
  <li>Avoid using <strong>Black Hat SEO</strong> techniques or your domain will be blacklisted!</li>
	<li><em>Use If Modified since</em></li>
</ul>

<h3>Social Networks</h3>
<ul>
  <li>Create a Facebook app and associate a page for your website</li>
  <li>Use Open Graph meta tags</li>
	<li>Use Twitter meta tags</li>
</ul>

<h3>Server side (Backend)</h3>
<ul>
  <li>Use browser caching</li>
	<li>Use Nginx instead of Apache if possible</li>
  <li>Enable <strong>URL rewrite</strong></li>
  <li>Use <strong>SEO friendly URLs</strong>: not too long or short.</li>
  <li>Enable <strong>Gzip compression</strong> if you can and if you have this feature in your hosting plan.</li>
  <li>Avoid <strong>"false 404 errors"</strong>: a broken link must return 404 status but if your website returns 200 is even worst because the search engine spider and even the users can be confused</li>
  <li>Generate and update your <strong>XML sitemap</strong>. Include the sitemap in your <strong>robots.txt</strong> file and be sure that the link is correct. If you have a blog, you can generate a <strong>Google News Sitemap</strong></li>
  <li>If you are using Wordpress, you can use SEO plugins like Yoast or Jetpack. But remember you need a plugin for every feature so Wordpress will be definetely heavy!</li>
  <li><em>Use <strong>ETag</strong> header</em></li>
</ul>

<h3>Testing</h3>
<ul>
  <li><a href="https://testmysite.withgoogle.com/" target="_blank" rel="noopener noreferrer" title="Test with Google [open page in another window]"></a> Test With Google</li>
  <li><a href="https://varvy.com" target="_blank" rel="noopener noreferrer" title="Varvy SEO [open page in another window]">Varvy</a></li>
  <li><a href="https://seositecheckup.com" target="_blank" rel="noopener noreferrer" title="SEO site checkup [open page in another window]">SEO site checkup</a></li>
</ul>

<h3>Tools</h3>
<ul>
  <li>Google Developer Console on Chrome</li>
  <li><a href="https://developers.google.com/speed/pagespeed/insights/" target="_blank" rel="noopener noreferrer" title="Google Page Insight page [open page in another window]">Google page insight</a></li>
  <li><a href="http://yslow.org" target="_blank" rel="noopener noreferrer" title="Yslow">Yslow</a></li>
  <li><a href="https://www.google.com/webmasters/tools/home" target="_blank" rel="noopener noreferrer" title="Google Webmaster Tools [open page in another window]">Google Search Console</a></li>
  <li><a href="https://www.google.com/analytics/" target="_blank" rel="noopener noreferrer" title="Google Analytics [open page in another window]">Google Analytics</a></li>
  <li><a href="https://developers.google.com/tag-manager/" target="_blank" rel="noopener noreferrer" title="Tag Manager [open page in another window]">Google Tag Manager</a></li>
  <li><a href="https://datastudio.google.com/navigation/reporting" target="_blank" rel="noopener noreferrer" title="Google Data Studio Ongoing Monitoring tool [open page in another window]">Google Data Studio</a></li>
  <li><a href="https://gtmetrix.com" target="_blank" rel="noopener noreferrer" title="GT metrix [open page in another window]">GT metrix</a></li>
  <li><a href="https://www.bing.com/toolbox/webmaster" target="_blank" rel="noopener noreferrer" title="Bing webmaster tools [open page in another window]">Bing webmaster tools</a></li>
  <li><a href="https://www.semrush.com" target="_blank" rel="noopener noreferrer" title="SEMRush [open page in another window]">SEMRush</a></li>

  <!-- On-page Optimization -->
  <li><a href="https://www.screamingfrog.co.uk/seo-spider/" target="_blank" rel="noopener noreferrer" title="Screaming Frog’s SEO Spider Tool [open page in another window]">Screaming Frog’s SEO Spider Tool</a></li>
  <li><a href="https://www.google.com/trends/" target="_blank" rel="noopener noreferrer" title="Google Trends [open page in another window]">Google Trends</a></li>
  <li><a href="http://adwords.google.com/keywordplanner" target="_blank" rel="noopener noreferrer" title="Google Keyword Planner [open page in another window]">Google Keyword Planner</a></li>
  <li><a href="https://moz.com/free-seo-tools" target="_blank" rel="noopener noreferrer" title="Moz [open page in another window]">Moz</a></li>
  <li><a href="http://adwords.google.com/keywordplanner" target="_blank" rel="noopener noreferrer" title="Moz Keyword Explorer [open page in another window]">Moz Keyword Explorer</a></li>
  <li><a href="http://keywordtool.io/" target="_blank" rel="noopener noreferrer" title="Keywordtool.io [open page in another window]">Keywordtool.io</a></li>
  <li><a href="https://builtwith.com/" target="_blank" rel="noopener noreferrer" title="Builtwith [open page in another window]">Builtwith</a></li>
</ul>
