
<h3>Angular Components Interactions</h3>

<p class="lead">
  <a href="https://angular.io/guide/component-interaction" target="_blank" title="">Component interaction</a>
  techniques using the EventEmitter object, @Output, @ViewChild directives
  and a shred service with RxJs.
</p>

<div class="border p-3 mb-4">
  <h3>Shared variable in an input text</h3>
  <app-parent></app-parent>
</div>

<div class="border p-3 mb-4">
  <h3>Using @ViewChild</h3>
  <app-view-child-parent></app-view-child-parent>
</div>

<div class="border p-3 mb-4">
  <h3>Using RxJs Subject with a shared service</h3>
  <app-rx-parent></app-rx-parent>
</div>
