<h2>Description Content Tag Validator</h2>

<div *ngIf="showForm">
    <p><strong>Words:</strong> {{ wordsCount }} <strong>Characters:</strong> {{ stringLength }} <strong>Whitespaces:</strong> {{ whiteSpaces }} <strong>Paragraphs:</strong> {{ paragraphs }}</p>
    <p></p>
    <form #form="ngForm" [formGroup]="frmGroup" (ngSubmit)="submitForm(frmGroup.value.description)">
      <div class="form-group row">
          <div class="col-sm-12">
            <textarea name="descrition" (input)="onDescriptionChange($event)" placeholder="Your page text..." id="description" class="form-control" formControlName="description" rows="6"></textarea>
            <div *ngIf="frmGroup.controls['description'].hasError('required') && frmGroup.controls['description'].touched" class="alert alert-danger">Type a (long) text string or description from your page.</div>
            <div *ngIf="frmGroup.controls['description'].hasError('minlength')" class="alert alert-danger">The description must contain at least {{ minlength }} character.</div>
            <div *ngIf="frmGroup.controls['description'].hasError('maxlength') " class="alert alert-danger">The description must contain maxiumum {{ maxlength }} character.</div>
          </div>
      </div>
      <div class="form-group row">
          <div class="col-sm-12 text-center">
              <input type="submit" class="btn btn-lg btn-primary" [disabled]="!frmGroup.valid" value="Analyze">
          </div>
      </div>
    </form>
</div>

<!-- Results -->
<div class="alert alert-success" *ngIf="wordsCount && stringLength && !showForm">
  <h3>Greetings!</h3>
  <p>Your description tag seems to be valid!</p>
  <p>Number of words: {{ wordsCount }}</p>
  <p>String length: {{ stringLength }} characters</p>

  <p><strong>{{ currentValidDescription }}</strong></p>

  <p><a href="javascript:void(0)" (click)="toggleForm()" class="btn btn-primary">Show form</a></p>
</div>
