
<form action="" class="form-inline" [formGroup]="filterForm">
  <div class="form-group mb-2">
    <label class=" mr-2" for="frm-category">Category:</label>
    <select class="form-control mr-2" id="frm-category" formControlName="category">
      <option [value]=""></option>
      <option [value]="category.slug" *ngFor="let category of categoryOptions">{{ category.name }}</option>
    </select>
  </div>
  <div class="form-group mb-2">
    <label class=" mr-2" for="frm-category">Company:</label>
    <select class="form-control mr-2" formControlName="company">
      <option [value]=""></option>
      <option [value]="company.slug" *ngFor="let company of companyOptions">{{ company.name }}</option>
    </select>
  </div>
</form>


<div *ngIf="filteredApis">
  <div *ngFor="let api of filteredApis">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4 mb-4 p-2" *ngFor="let channel of api.channels | channelFilter: { company: companyOptionValue, currentCategory: '', category: '' } ">
        <div class="border p-2">
          <h4 class="mb-2">
            <a [href]="channel.url | safeUrl" target="_blank" rel="noopener noreferrer" [title]="channel.name">{{ channel.name }}</a>
          </h4>
          <div class="mb-2">
            {{ channel.description }}
          </div>
          <div class="mb-2">
            <i class="fa fa-folder-open"></i> {{ api.category }}
          </div>
          <div class="mb-2">
            By: <a [href]="channel.company.url | safeUrl" target="_blank" rel="noopener noreferrer" [title]="channel.name">{{ channel.company.name }}</a>
          </div>
          <div>
            <a [href]="channel.url | safeUrl" [title]="'Read more about the ' +  channel.company.name + ' API'"
              class="btn btn-sm btn-primary">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
